html,
body,
#root,
.App {
    height: 100%;
}

#chatRoom {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    box-shadow: 3px 3px 10px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


/*******Header section******/

#chatRoom header {
    padding: 15px;
    flex-grow: 0.025;
    background-color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px -2px black;
    border-radius: 0px 0px 10px 10px;
    position: relative;
    z-index: 2;
}

#chatRoom header div {
    display: flex;
    align-items: center;
}

#chatRoom header div img {
    width: 3.5em;
    height: 3.5em;
    border-radius: 100px;
    padding: 3px;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(0, 225, 255);
}


/*****chating section*********/

#chatRoom section {
    padding: 15px;
    flex-grow: 0.975;
    color: rgb(0, 225, 255);
    overflow-y: scroll;
}

#chatRoom section div.left,
#chatRoom section div.right {
    width: 100%;
    margin-bottom: 5px;
}

#chatRoom div.right {
    display: flex;
    justify-content: flex-end;
}

#chatRoom div.left {
    display: flex;
    justify-content: flex-start;
}

#chatRoom section div.message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chatRoom section div.message p {
    margin: 5px;
    text-align: justify;
    max-width: 250px;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: snow;
    box-shadow: 3px 3px 10px black;
}

#chatRoom section span {
    color: black;
    text-align: end;
    padding: 0px 15px;
}

#chatRoom section div.left p {
    background-color: rgb(2, 141, 255);
    box-shadow: 3px 3px 10px black;
    color: snow;
}


/* width */

#chatRoom section::-webkit-scrollbar {
    width: 5px;
}


/* Track */

#chatRoom section::-webkit-scrollbar-track {
    background: #f1f1f18e;
}


/* Handle */

#chatRoom section::-webkit-scrollbar-thumb {
    background: rgb(0, 225, 255);
}


/* Handle on hover */

#chatRoom section::-webkit-scrollbar-thumb:hover {
    background: snow;
}


/*****writing section********/

#chatRoom .writing {
    padding: 5px 15px;
    flex-grow: 0.025;
    background-color: snow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -2px 10px black;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    z-index: 2;
}

#chatRoom .writing textarea {
    flex-grow: 1;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5em;
}

#chatRoom .writing button {
    background-color: transparent;
    font-size: 1.5em;
    outline: none;
    border: none;
}


/****Media queries******/

@media screen and (min-width:700px) {
    #chatRoom {
        width: 80%;
    }
}

@media screen and (min-width:800px) {
    #chatRoom {
        width: 70%;
    }
}

@media screen and (min-width:900px) {
    #chatRoom {
        width: 50%;
    }
}